<h1>{{title}}</h1>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode = "side" opened>
        <div class = "sidenav-header">
            <button mat-button (click) = "sidenav.close()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2>Sensors</h2>
            <app-sensors></app-sensors>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-sensort-graph></app-sensort-graph>
    </mat-sidenav-content>
</mat-sidenav-container>
